<% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Some Title</h5>
          <p class="card-text"><%= bookmark.comment %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
<% end %>
