<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=2564&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <h1><%= @list.name %></h1>
</div>

<div class="container py-5">
  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"></em></small></span>
    <div>
      <button type="button" class="btn btn-flat">
        <%= link_to "Add Movie", new_list_bookmark_path(@list) %>
      </button>
      <button class= "btn btn-flat">
        <%= link_to "Delete List", @list,
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </button>
    </div>
  </div>
  <div class="row">
    <%= render "bookmark_card" %>
  </div>
</div>
