.navbar-lewagon {
  justify-content: space-between;
  background: $light-salmon;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-nav .nav-link {
  color: $dark-purple;
  opacity: 1;

  &:hover {
    opacity: 0.7;
    text-decoration: underline;

  }
}
